/***** GENERICS *****/


a {
    text-decoration: none;
}

h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.horizontal-rule {
    width: 100px;
    height: 20px;
    border-bottom: 5px solid white;
    margin: 0 10px;
}

/* !UTILITY */

/* PALET */

.bg-dark-blue {
    background-color: #2C3E50;
}

.bg-blue {
    background-color: #3A546D;
}

.bg-marine-green {
    background-color: #1ABC9C;
}

.cl-marine-green {
    color:#1ABC9C;
}

/* !STYLE */

/* ***** HEADER ***** */

.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-nav .nav-link{
    color: white;
}

/* *****JUMBOTRON ***** */


.jumbotron img {
    width: 300px;
}

/* ***** PORTFOLIO ***** */

.portfolio .horizontal-rule, .form .horizontal-rule {
    border-bottom: 5px solid #2C3E50;
}

.portfolio .fa-star, .form .star {
    color: #2C3E50;
}

/* ***** ABOUT ***** */


.about p {
    color: white;
    font-weight: 600;
}

/* ***** FORM ***** */


.form .form-control::placeholder {
    color: #2C3E50;
    font-weight: 600;
}

.form-control:focus {
    box-shadow: none;
}

.form .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding: 1rem 0;
}

.form .btn-success{
    background-color: #1ABC9C;
}


/* ***** ADDRESS ***** */


.address p {
    font-size: 1.2rem;
    font-weight: 600;
}

.fa-facebook-f, .fa-google-plus-g, .fa-twitter, .fa-linkedin {
    padding: 15px 20px;     /* da fare on width e height */
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
}

